<!DOCTYPE html>
<html>
<head>
    <script src="/public/js/specil/modal.js"></script>
    <script src="/public/js/jquery.form.min.js"></script>
    <title></title>
    <style>
        .modal-body table {
            width: 100%;
            border-color: #555;
        }

        .modal-body table td{
            height: 22px;
            padding:1px 3px 1px 1px;
            text-align: center;
        }
        .modal-body table td textarea{
            padding: 3px 0;
            margin: 0;
            height: 100%;
            width: 100%;
            resize: none;
            text-indent: 0.5em;
        }
        .modal-body table td input[type=text]{
            width:100%;
            padding:3px 0;
            margin:0;
            text-indent: 0.5em;
        }

        .modal.direction {
            width: 900px;
            margin-left: -450px;
        }

        .modal.direction .modal-body {
            max-height: 700px;
            padding: 5px;
        }

        .modal.direction.fade.in {
            top: 0;
        }

        .modal.direction .modal-header {
            display: none;
        }

        table td {
            text-align: center;
        }
        .inspection-items{
            display: inline-block;
        }
        .inspection-items label{
            display: inline-block;
            padding: 3px 5px;
            margin: 3px;
            border: 1px solid #ccc;
            background-color: #eee;
            vertical-align: middle;
        }
        .inspection-items label input{
            margin: 0;
        }
    </style>
</head>
<body>
<div class="modal-header">
    <button data-dismiss="modal" class="close" type="button"></button>
    <h3>
        <i class="icon-edit" style="color: #236aa1"></i> 出厂检验报告</h3>
</div>
<div class="modal-body">
    <form method="post" class="report-form">
    <table border="1">
        <thead>
        <tr>
            <th colspan="7">青岛胶平食品有限公司产品出厂检验报告(${batch.product.productName})</th>
            #{if data!=null}
                <input type="hidden" name="data.id" value="${data.id}">
            #{/if}
            #{else }
                <input type="hidden" name="data.batch.id" value="${batch.id}">
            #{/else}
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>样品名称</th>
            <td colspan="2"><input readonly type="text" value="${batch.product.productName}"/></td>
            <th>生产日期</th>
            <td style="width: 150px"><input type="text" value="${batch.brandDate}" readonly></td>
            <th>样品批号</th>
            <td><input readonly type="text" value="${batch.batchNo}"></td>
        </tr>
        <tr>
            <th rowspan="2">使用主要仪器设备</th>
            <th style="width: 60px">名称</th>
            %{
               for(int i in 0..4){
            }%
            <td>#{if data!=null}<input type="hidden" name="instruments[${i}].id" value="${data.getInstrument(i)!=nul?data.getInstrument(i).id:null}">#{/if}<input type="text" name="instruments[${i}].name" value="${data!=null&&data.getInstrument(i)!=nul?data.getInstrument(i).name:null}"></td>
            %{}}%
        </tr>
        <tr>
            <th>精度</th>
        %{
            for(int i in 0..4){
            }%
            <td><input type="text" name="instruments[${i}].accuracy" value="${data!=null&&data.getInstrument(i)!=null?data.getInstrument(i).accuracy:null}"></td>
        %{}}%
        </tr>
        <tr>
            <th>执行标准</th>
            <td colspan="6" style="height: 30px"></td>
        </tr>
        <tr>
            <th colspan="7">检验结果</th>
        </tr>
        <tr class="inspection-items-title">
            <th>序号</th>
            <th>检验项目</th>
            <th>单位</th>
            <th colspan="2">标准要求</th>
            <th>检验结果</th>
            <th>单项结论</th>
        </tr>
        #{if data!=null}
            #{list data.itemResults,as:'ir'}
            <tr id='${ir.itemStandard.id}' class='standard-one'><td class='standard-one-no'>${ir_index}</td><td>${ir.itemStandard.inspectionItem.name}</td><td>${ir.itemStandard.inspectionItem.unit}</td><td colspan='2'>${ir.itemStandard.standard}</td><td><input type='hidden' class='r-id' name='result[${ir_index-1}].id' value='${ir.id}'><input type='text' name='result[${ir_index-1}].inspectionResults' class='conclusions' value='${ir.inspectionResults}'></td><td><input type="hidden" name="result[${ir_index-1}].itemStandard.id" value="${ir.itemStandard.id}"><input type='text' name='result[${ir_index-1}].singleConclusions' value='${ir.singleConclusions}' class='single'></td></tr>
            #{/list}
        #{/if}
        <tr>
            <th>检验结论</th>
            <td colspan="4"><input type="text" name="data.inspectionConclusions" value="${data!=null?data.inspectionConclusions:null}"></td>
            <th>日期</th>
            <td><input readonly type="text" name="data.inspectionDate" value="${data!=null?data.inspectionDate:null}"></td>
        </tr>
        <tr>
            <th>备注</th>
            <td colspan="6"><input type="text" name="data.remark" value="${data!=null?data.remark:null}"></td>
        </tr>
        <tr>
            <th>检验员</th>
            <td colspan="3"><input type="text" name="data.inspector" value="${data!=null?data.inspector:null}"></td>
            <th>校核员</th>
            <td colspan="2"><input type="text" name="data.checkStaff" value="${data!=null?data.checkStaff:null}"></td>
        </tr>
        </tbody>
    </table>
        </form>
</div>
<div class="modal-footer">
    <span class="inspection-items">
        #{list standards,as:'s'}
            %{
               if(data!=null){
                  int l=data.itemResults.size();
                  models.quality.InspectionItemResult r=null;
                  if(l>0)
                  loop:for(int i in 0..(l-1)){
                      if(data.itemResults.get(i).itemStandard.id==s.id){
                               r=data.itemResults.get(i);
                       }%
            <label data-sid="${s.id}" data-id="${r.id}" data-standard="${s.standard}" data-unit="${s.inspectionItem.unit}" data-s="${r.singleConclusions}" data-r="${r.inspectionResults}"><input type="checkbox" value="${s.id}"> ${s.inspectionItem.name}</label>
                       %{
                               break loop;
                      }
                  }
               }
            }%
        #{/list}
    </span>
    <span class="alert" style="display: none;vertical-align: middle;padding: 6px;"></span>
    <span class="btn" id="cancel">取消</span>
    <span class="btn blue" id="ok">保存</span>
</div>
<script>
    $(function () {
        if($(".inspection-items label").length==0){
            $(".modal-footer").find(".alert").show().html("请先完成原始记录化验。");
        }
        $("tr.standard-one").each(function(){
            var id=$(this).attr("id");
            $("label[data-sid="+id+"]").find("input").prop("checked",true);
        })
        $(".modal").addClass("direction");
        $("input[name='data.inspectionDate']").datepicker({format:"yyyy-mm-dd",language:"zh-cn","autoclose":true,pickerPosition:"top"});
        $("input[name='data.inspectionDate']").datepicker({format:"yyyy-mm-dd",language:"zh-cn","autoclose":true,pickerPosition:"top"});
        $(".inspection-items input[type=checkbox]").click(function(){
            var id_=$(this).val();
            if($(this).prop("checked")){
                if($("#"+id_).length==0){
                    $("tr.standard-one").each(function(i){
                        $(this).find(".standard-one-no").html(i+2);
                        $(this).find(".conclusions").attr("name","result["+(i+1)+"].inspectionResults");
                        $(this).find(".r-id").attr("name","result["+(i+1)+"].id");
                        $(this).find(".single").attr("name","result["+(i+1)+"].singleConclusions");
                    });
                    $("<tr id='"+$(this).val()+"' class='standard-one'><td class='standard-one-no'>1</td><td>"+$(this).parent().text()+"</td><td>"+$(this).parent().attr("data-unit")+"</td><td colspan='2'>"+$(this).parent().attr("data-standard")+"</td><td><input type='hidden' class='r-id' name='result[0].id' value='"+$(this).parent().attr("data-id")+"'><input type='text' name='result[0].inspectionResults' class='conclusions' value='"+$(this).parent().attr("data-r")+"'></td><td><input type='text' name='result[0].singleConclusions' value='"+$(this).parent().attr("data-s")+"' class='single'></td></tr>").insertAfter($(".inspection-items-title"));
                }
            }else{
                $("#"+id_).remove();
                $("tr.standard-one").each(function(i){
                    $(this).find(".standard-one-no").html(i+1);
                    $(this).find(".conclusions").attr("name","result["+(i)+"].inspectionResults");
                    $(this).find(".r-id").attr("name","result["+(i)+"].id");
                    $(this).find(".single").attr("name","result["+(i)+"].singleConclusions");
                });
            }
        });
        $("#ok").click(function(){
            if($(".inspection-items label").length==0){
                $(this).parent().find(".alert").css("color","#C06453").html("请先完成原始记录化验。");
                return;
            }
            $(".report-form").ajaxSubmit({
                url:"/manageQuality/inspection/saveReport",
                dataType:"json",
                success:function(res){
                    modalJs.response(res,'报告记录保存完成');
                },error:function(){
                    alert("保存失败");
                }
            })
        });
    });
</script>
</body>
</html>