<!DOCTYPE html>
<html>
<head>
    <script src="/public/js/specil/modal.js"></script>
    <script src="/public/js/jquery.form.min.js"></script>
    <title></title>
    <style>

        .controls label{
            display: inline-block;
            font-weight: bold;
        }
        .controls label input{
            margin: 0;
        }
    </style>
</head>
<body>
<div class="modal-header">
    <button data-dismiss="modal" class="close" type="button"></button>
    <h3>
        #{if data==null}
        <i class="icon-plus-sign-alt" style="color: #0ba11b"></i>       新增原始记录检验项   #{/if}
        #{else}
        <i class="icon-edit" style="color: #236aa1"></i> 编辑原始记录检验项
        #{/else}
    </h3>
</div>
<div class="modal-body">
    <form class="form-horizontal" method="post">
        #{if data!=null}
          <input type="hidden" name="data.id" value="${data.id}">
        #{/if}
        <div class="control-group">
            <label class="control-label">检验项名称</label>
            <div class="controls">
                <input type="text" class="span3" name="data.name" placeholder="检验项名称" value="${data!=null?data.name:''}" />
            </div>
        </div>
            <div class="control-group">
                <label class="control-label">检验项恒定值</label>
                <div class="controls">
                    <input type="text" class="span3" name="data.value" placeholder="检验项恒定值" value="${data!=null?data.value:''}" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">样品数量</label>
                <div class="controls">
                    <input type="text" class="span3" name="data.resultSize" placeholder="样品数量" value="${data!=null?data.resultSize:''}" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">样品是否分类</label>
                <div class="controls">
                    <label> <input type="radio" name="data.splitSample" value="0" ${data!=null?data.splitSample!=1?'checked':'':''}> 平行样1/平行样2</label>
                    <label> <input type="radio" name="data.splitSample" value="1" ${data!=null?data.splitSample==1?'checked':'':''}> 无样品分类</label>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">检验项单位</label>
                <div class="controls">
                    <input type="text" class="span3" name="data.unit" placeholder="检验项单位" value="${data!=null?data.unit:''}" />
                </div>
            </div>
    </form>
</div>
<div class="modal-footer">
    <span class="btn" id="cancel">取消</span>
    <span class="btn blue" id="ok">保存</span>
</div>
<script>
    $(function(){
       $("#ok").click(function(){
           var uname=$("input[name='data.name']");
           if(uname.val().isEmpty()){
               uname.val("");
               uname.focus();
               return;
           }
           var url="${data==null?'/manageCenter/createData/11':'/manageCenter/updateData/11'}";
           $(".form-horizontal").ajaxSubmit({
               url:url,
               dataType:"json",
               success:function(res){
                   modalJs.response(res,'',function(){
                       dataTable.loadData();
                   });
               },error:function(e){
                   alert("error:"+e);
                   modalJs.close();
               }
           });
       }) ;
    });
</script>
</body>
</html>