<!DOCTYPE html>
<html>
<head>
    <script src="/public/js/specil/modal.js"></script>
    <script src="/public/js/jquery.form.min.js"></script>
    <link href="/public/css/specil/daily-production-table.css" rel="stylesheet"/>
    <title></title>
</head>
<body>
<div class="modal-header">
    <button data-dismiss="modal" class="close" type="button"></button>
    <h3>
        #{if data==null}
        <i class="icon-plus-sign-alt" style="color: #0ba11b"></i>   写日报
        #{/if}
        #{else}
        <i class="icon-edit" style="color: #236aa1"></i>     修改日报
        #{/else}
    </h3>
</div>
<div class="modal-body">
    <form class="form-horizontal" method="post">
        #{if data!=null}
          <input type="hidden" name="data.id" value="${data.id}">
        #{/if}
            <table border="1" class="base">
                <thead>
                <tr>
                    <th colspan="6">基本信息</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>日期</th>
                    <td>
                    #{if data==null}
                        <input class="prouce-date"  name="data.produceDate" readonly type="text">
                    #{/if}
                    #{else}
                        <input class="produce-date"  value="" disabled type="text">
                    #{/else}
                    </td>
                    <th class="batch-product">批次号</th>
                    <td><select class="select-batch" name="data.batch.id"></select>
                        <select class="select-product" name="data.batch.product.productId" disabled style="display: none"></select>
                    </td>
                    <th>男工数</th>
                    <td><input type="text" name="data.maleCount"/></td>
                </tr>
                <tr>
                    <th>成品数</th>
                    <td><input type="text" name="data.productCount" ${data!=null?'value='+data.productCount+' disabled ':''}/></td>
                    <th>次品数</th>
                    <td><input type="text" name="data.defectiveCount" ${data!=null?'value='+data.defectiveCount+' disabled':''}></td>
                    <th>女工数</th>
                    <td><input type="text" name="data.femaleCount"/></td>
                </tr>
                <tr>
                    <th>生产来源</th>
                    <td><label><input type="radio" name="data.orderSource" value="0"  ${data!=null&&data.orderSource==0?'checked':data==null?'checked':''}/> 外销</label> <label><input type="radio" name="data.orderSource" value="1"  ${data!=null&&data.orderSource==1?'checked':''}/> 内销</label></td>
                    <th>备注</th>
                    <td colspan="3" style="text-align: left"><textarea name="data.remark" ${data!=null?'disabled':''}>${data!=null?data.remark:''}</textarea></td>
                </tr>

                </tbody>
            </table>
            <table border="1" class="horizontal">
                <thead>
                <tr>
                    <th colspan="${data==null?'8':'7'}">详细信息 </th>
                </tr>
                <tr class="details">
                #{if data==null}
                    <th style="width: 20px"><span class="btn purple new-tr" style="padding: 5px 6px;margin: 0;"><i class="icon-plus"></i></span></th>
                #{/if}
                    <th>原料</th>
                    <th>领取量</th>
                    <th>实用量</th>
                    <th>单位</th>
                </tr>
                </thead>
                <tbody>
                #{if data==null}
                <tr class="loading">
                    <td colspan="5"><img src="/public/assets/img/ajax-loading.gif" style="height:25px"><br>原料加载中... </td>
                </tr>
                #{/if}
                #{else}
                    #{list data.batchs,as:'b'}
                    <tr>
                        <td><input type="text" disabled value="${b.batchNo}"></td>
                        <td><input type="text" disabled value="${b.product.productName}"></td>
                        <td><input type="text" disabled value="${b.productCount}"></td>
                        <td><input type="text" disabled value="${b.brandDate}"></td>
                        <td><input type="text" disabled value="${b.deleverDate}"></td>
                        <td><input type="text" disabled value="${b.priceUnit}"></td>
                        <td><input type="text" disabled value="${b.priceTotle}"></td>
                    </tr>
                    #{/list}
                #{/else}
                </tbody>
            </table>

    </form>
</div>
<div class="modal-footer">
    <span class="btn" id="cancel">取消</span>
    <span class="btn blue" id="ok">保存</span>
</div>
<script>
    $(function(){
        $(".modal").addClass("dailyProduction");
       $("#ok").click(function(){
           var input=$(".base input");
           var check=true;
           input.each(function(){
               if(!$(this).prop("disabled"))
                   if($(this).val().isEmpty()){
                       $(this).val("");
                       $(this).focus();
                       check=false;
                       return false;
                   }
           })
           var url="${data==null?'/manageCenter/createData/8':'/manageCenter/updatePerData/8'}";
           $(".form-horizontal").ajaxSubmit({
               url:url,
               dataType:"json",
               success:function(res){
                   modalJs.response(res,'',function(){
                       dataTable.loadData();
                   });
               },error:function(e){
                   alert("error:"+e);
                   modalJs.close();
               }
           });
       }) ;
    });
</script>
<script src="/public/js/manage/dataForm/addDailyProduction.js"></script>
</body>
</html>