<!DOCTYPE html>
<html>
<head>
    <script src="/public/js/specil/modal.js"></script>
    <title>删除数据</title>
    <style>
        .modal-body b {
            color: #da8328
        }
    </style>
</head>
<body>
<div class="modal-header">
    <button data-dismiss="modal" class="close" type="button"></button>
    <h3><i class="icon-warning-sign" style="color: #a1232a"></i> 删除数据</h3>
</div>
<div class="modal-body">
#{if type==3 }
    确定删除产品 <b>${data.productName}</b> ？
#{/if}
#{elseif type==4}
    确定删除客户信息 <b>${data.clientName}</b> ？
#{/elseif}
#{elseif type==7}
    确定删除原料信息 <b>${data.name}</b>？
#{/elseif}
#{elseif type==8}
        确定删除 <b>${data.produceDate}</b> 的生产[<b>${data.batch.product.productName}</b>]的日报记录？
#{/elseif}
    #{elseif type==11}
            确定删除原始记录检验项[ <b>${data.name}</b> ]
    #{/elseif}
    #{elseif type==12}
        确定删除检验标准[ <b>${data.name}</b> ]
    #{/elseif}
#{elseif type==13}
    确定删除出厂检验项[ <b>${data.name}</b> ]
#{/elseif}
#{elseif type==14}
    确定删除出厂检验项[ <b>${data.inspectionItem.name}</b> ]的标准要求[ <b>${data.standard}</b> ]
#{/elseif}
</div>
<div class="modal-footer">
    <span class="btn" id="cancel">取消</span>
    <span class="btn red" id="ok">确定删除</span>
</div>
<script>
    $(function () {
        $("#ok").click(function () {
            $.ajax({
                url: "/manageCenter/delData/${type}/${id}",
                type: "post",
                dataType: "json",
                success: function (res) {
                    modalJs.response(res, '删除结果', function () {
                        dataTable.loadData();
                    });
                }
            });
        });
    })
</script>
</body>
</html>