<!DOCTYPE html>
<html>
<head>
    <script src="/public/js/specil/modal.js"></script>
    <title>权限分配</title>
    <style>
        .has label,.not-has label{
            border: 1px solid #ccc;
            display: inline-block;
            padding: 3px 5px;
            font-weight: bold;
        }
        .has label input,.not-has label input{
            vertical-align: top;
        }
        .has label{
            background-color: #D4EAF8;
            color: #134E74;
        }
        .not-has label{
            background-color: #eee;
        }
    </style>
</head>
<body>
<div class="modal-header">
    <button data-dismiss="modal" class="close" type="button"></button>
    <h3>为账户<span style="color: #5b8dff">${name}</span>分配权限</h3>
</div>
<div class="modal-body">
    <div class="has">
    #{list has,as:'p'}
    <label><input type="checkbox" checked value="${p.id}"> ${p.name}</label>
    #{/list}
    </div>
    <div class="not-has">
    #{list notHas,as:'p'}
    <label><input type="checkbox" value="${p.id}"> ${p.name}</label>
    #{/list}
    </div>
</div>
<div class="modal-footer">
    <span class="btn" id="cancel">取消</span>
    <span class="btn blue" id="ok">保存</span>
</div>
<script>
    $(function(){
        $("#ok").click(function(){
            var add=[],remove=[];
            $(".not-has input:checked").each(function(){
                add.push($(this).val());
            });
            $(".has input:not(:checked)").each(function(){
                remove.push($(this).val());
            });
            $.ajax({
               type:"post",
                url:"/manager/assignPrivilegesDo/${id}",
                data:{add:add.join(";"),remove:remove.join(";")},
                dataType:"json",
                success:function(res){
                    modalJs.response(res,'权限分配完成');
                },error:function(e){
                    modalJs.response({response:'权限分配失败,错误信息：'+e,responseCode:-1},"错误");
                }
            });
        });
    });
</script>
</body>
</html>