<!DOCTYPE html>
<html>
<head>
    <script src="/public/js/specil/modal.js"></script>
    <script src="/public/js/jquery.form.min.js"></script>
    <title></title>
    <link href="/public/css/specil/form-table.css" rel="stylesheet"/>
    <style>
        .input-prepend .add-on{
            padding: 2px 5px!important;
        }
        .form-horizontal .control-group{
            margin-bottom:15px!important;
        }
        .small{
            padding: 5px 14px!important;
        }
        .control-group .controls select{
            outline: 0;
            font-family: "Microsoft Yahei"!important;
        }
    </style>
</head>
<body>
<div class="modal-header">
    <button data-dismiss="modal" class="close" type="button"></button>
    <h3>
        #{if data==null}
        <i class="icon-plus-sign-alt" style="color: #0ba11b"></i> 创建订单合同
        #{/if}
        #{else}
        <i class="icon-edit" style="color: #236aa1"></i> 编辑订单合同
        #{/else}
    </h3>
</div>
<div class="modal-body">
    <form class="form-horizontal" method="post">
        #{if data!=null}
          <input type="hidden" name="data.id" value="${data.id}">
        #{/if}
            <table border="1">
                <thead>
                <tr>
                    <th colspan="4">基本资料</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>客户</th>
                        <td><span class="btn blue newCustomer" style="padding: 5px 10px;" ><i class="icon-plus"></i> 新客户</span><select style="width: 102px"><option>客户1</option></select></td>
                        <th>批次号</th>
                        <td><input type="text"/></td>
                    </tr>
                     <tr>
                         <th>接单日期</th>
                         <td><input type="text" readonly></td>
                         <th>合同单号</th>
                         <td><input type="text"></td>
                     </tr>
                     <tr>
                         <th>签发人</th>
                         <td><input type="text"/></td>
                         <th>预计发货</th>
                         <td><input type="text" readonly/></td>
                     </tr>
                </tbody>
            </table>
            <table border="1" class="horizontal">
                <thead>
                    <tr>
                        <th colspan="5">详细信息</th>
                    </tr>
                </thead>
                <tbody>
                <tr>
                    <th>订购产品</th>
                    <th>订购量</th>
                    <th>商标日期</th>
                    <th>单价</th>
                    <th>总价</th>
                </tr>
                <tr>
                    <td><select><option>花生</option></select></td>
                    <td><input type="text"/></td>
                    <td><input type="text" readonly/></td>
                    <td><input type="text"></td>
                    <td><input type="text" /></td>
                </tr>
                </tbody>
            </table>
           *{ <div class="control-group">
                <label class="control-label">合同号</label>
                <div class="controls">
                    <input type="text" class="span3" name="data.description" placeholder="合同号" value="${data!=null?data.description:''}" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">批次号</label>
                <div class="controls">
                    <input type="text" class="span3" name="data.description" placeholder="批次号" value="${data!=null?data.description:''}" />
                </div>
            </div>
        <div class="control-group">
            <label class="control-label">商品/产量</label>
            <div class="controls">
                <div class="input-prepend">
                    <span class="add-on">产量</span>
                    <input type="text" class="span1"/>
                    <select class="span2">
                        <option>花生</option>
                        <option>玉米</option>
                    </select>
                </div>

            </div>
        </div>
            <div class="control-group">
                <label class="control-label">客户</label>
                <div class="controls">
                    <div class="input-prepend">
                        <button class="btn blue small">新客户</button>
                        <select class="span2">
                            <option>客户1</option>
                            <option>客户2</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">签发人</label>
                <div class="controls">
                    <input type="text" class="span3" name="data.url" placeholder="签发人" value="${data!=null?data.url:''}" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">日期</label>
                <div class="controls">
                    <div class="input-prepend">
                        <span class="add-on blue">订单日期</span>
                        <input type="text" class="span1"/>
                        <span class="add-on blue">商标日期</span>
                        <input type="text" class="span1"/>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">价格</label>
                <div class="controls">
                    <div class="input-prepend">
                        <span class="add-on blue">单价</span>
                        <input type="text" class="span1"/>
                        <span class="add-on blue">总价</span>
                        <input type="text" class="span1"/>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">预计发货</label>
                <div class="controls">
                    <input type="text" class="span3" name="data.description" placeholder="预计发货日期" value="${data!=null?data.description:''}" />
                </div>
            </div>}*
    </form>
</div>
<div class="modal-footer">
    <span class="btn" id="cancel">取消</span>
    <span class="btn blue" id="ok">保存</span>
</div>
<script>
    $(function(){
       $("#ok").click(function(){
           var uname=$("input[name='data.name']");
           if(uname.val().isEmpty()){
               uname.val("");
               uname.focus();
               return;
           }
           var url="${data==null?'/manager/createData/2':'/manager/updatePerData/2'}";
           $(".form-horizontal").ajaxSubmit({
               url:url,
               dataType:"json",
               success:function(res){
                   modalJs.response(res,'',function(){
                       dataTable.loadData();
                   });
               },error:function(e){
                   alert("error:"+e);
                   modalJs.close();
               }
           });
       }) ;
    });
</script>
</body>
</html>