<!DOCTYPE html>
<html>
<head>
    <script src="/public/js/specil/modal.js"></script>
    <script src="/public/js/jquery.form.min.js"></script>
    <title></title>
</head>
<body>
<div class="modal-header">
    <button data-dismiss="modal" class="close" type="button"></button>
    <h3>
        <i class="icon-edit" style="color: #236aa1"></i>    商品出入库</h3>
</div>
<div class="modal-body">
    <form class="form-horizontal" method="post">
        #{if data!=null}
          <input type="hidden" name="data.userId" value="${data.userId}">
        #{/if}
        <div class="control-group">
            <label class="control-label">商品</label>
            <div class="controls">
                <select>
                    <option>花生</option>
                    <option>玉米</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">客户</label>
            <div class="controls">
                <select>
                    <option>客户1</option>
                    <option>客户2</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">日期</label>
            <div class="controls">
                <input placeholder="出入库日期"/>
            </div>
        </div>
            <div class="control-group">
                <label class="control-label">出/入库</label>
                <div class="controls">
                    <input type="radio" name="inex"/>     出库
                    <input type="radio" name="inex"/>     入库
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">备注</label>
                <div class="controls">
                    <textarea></textarea>
                </div>
            </div>
    </form>
</div>
<div class="modal-footer">
    <span class="btn" id="cancel">取消</span>
    <span class="btn blue" id="ok">保存</span>
</div>
<script>
    $(function(){
       $("#ok").click(function(){
           var uname=$("input[name='data.userName']");
           var uact=$("input[name='data.userAccount']");
           var upass=$("input[name='data.userPass']");
           if(uname.val().isEmpty()){
               uname.val("");
               uname.focus();
               return;
           }

           if(uact.val().isEmpty()){
               uact.val("");
               uact.focus();
               return;
           }

           if(upass.length>0){
               if(upass.val().isEmpty()){
                   upass.val("");
                   upass.focus();
                   return;
               }
           }
           var url="${data==null?'/manager/createData/0':'/manager/updatePerData/0'}";
           $(".form-horizontal").ajaxSubmit({
               url:url,
               dataType:"json",
               success:function(res){
                   modalJs.response(res,'',function(){
                       dataTable.loadData();
                   });
               },error:function(e){
                   alert("error:"+e);
                   modalJs.close();
               }
           });
       }) ;
    });
</script>
</body>
</html>