<div class="controllers"></div>
*{<div class="row-fluid">
    <div class="span3 responsive" data-tablet="span3" data-desktop="span3">
        <div class="dashboard-stat blue">
            <div class="visual">
                <i class="icon-calendar"></i>
            </div>
            <div class="details">
                <div class="number">生产日报</div>
                <div class="desc">Daily production</div>
            </div>
            <a class="more" href="#">进入操作<i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>

    <div class="span3 responsive" data-tablet="span3" data-desktop="span3">
        <div class="dashboard-stat green">
            <div class="visual">
                <i class="icon-group"></i>
            </div>
            <div class="details">
                <div class="number">管理员</div>
                <div class="desc">Managers</div>
            </div>
            <a class="more" href="#">进入操作<i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>

    <div class="span3 responsive" data-tablet="span3" data-desktop="span3">
        <div class="dashboard-stat purple">
            <div class="visual">
                <i class="icon-user"></i>
            </div>
            <div class="details">
                <div class="number">角色</div>
                <div class="desc">Roles</div>
            </div>
            <a class="more" href="#">进入操作<i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>

    <div class="span3 responsive" data-tablet="span3" data-desktop="span3">
        <div class="dashboard-stat yellow">
            <div class="visual">
                <i class="icon-magic"></i>
            </div>
            <div class="details">
                <div class="number">权限</div>
                <div class="desc">Privileges</div>
            </div>
            <a class="more" href="#">进入操作<i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>


</div>
<div class="row-fluid">
    <div class="span3 responsive" data-tablet="span3" data-desktop="span3">
        <div class="dashboard-stat red">
            <div class="visual">
                <i class="icon-bullhorn"></i>
            </div>
            <div class="details">
                <div class="number">生产通知单</div>
                <div class="desc">Production orders</div>
            </div>
            <a class="more" href="#">进入操作<i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>

    <div class="span3 responsive" data-tablet="span3" data-desktop="span3">
        <div class="dashboard-stat red">
            <div class="visual">
                <i class="icon-check"></i>
            </div>
            <div class="details">
                <div class="number">人员考核</div>
                <div class="desc">Staff check</div>
            </div>
            <a class="more" href="#">进入操作<i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
    <div class="span3 responsive" data-tablet="span3" data-desktop="span3">
        <div class="dashboard-stat red">
            <div class="visual">
                <i class="icon-truck"></i>
            </div>
            <div class="details">
                <div class="number">成品出入库</div>
                <div class="desc">Product library</div>
            </div>
            <a class="more" href="#">进入操作<i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
    <div class="span3 responsive" data-tablet="span3" data-desktop="span3">
        <div class="dashboard-stat green">
            <div class="visual">
                <i class="icon-truck"></i>
            </div>
            <div class="details">
                <div class="number">原料出入库</div>
                <div class="desc">Material library</div>
            </div>
            <a class="more" href="#">进入操作<i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span3 responsive" data-tablet="span3" data-desktop="span3">
        <div class="dashboard-stat blue ">
            <div class="visual">
                <i class="icon-truck"></i>
            </div>
            <div class="details">
                <div class="number">辅料出入库</div>
                <div class="desc">Accessory library</div>
            </div>
            <a class="more" href="#">进入操作<i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
    <div class="span3 responsive" data-tablet="span3" data-desktop="span3">
        <div class="dashboard-stat blue ">
            <div class="visual">
                <i class="icon-beaker"></i>
            </div>
            <div class="details">
                <div class="number">成品质检</div>
                <div class="desc">Product Quality</div>
            </div>
            <a class="more" href="#">进入操作<i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
    <div class="span3 responsive" data-tablet="span3" data-desktop="span3">
        <div class="dashboard-stat blue ">
            <div class="visual">
                <i class="icon-legal"></i>
            </div>
            <div class="details">
                <div class="number">订单合同</div>
                <div class="desc">Order & Contract</div>
            </div>
            <a class="more" href="#">进入操作<i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
</div>}*
<script src="/public/js/manage/controllers.js"></script>