#hide {
    position: fixed;
    z-index: 9999;
    background-color: #000;
    opacity: 0.8;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#loading {
    position: fixed;
    z-index: 10000;
    background: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    display: -moz-box;
    -moz-box-orient: horizontal;
    -moz-box-pack: center;
    -moz-box-align: center;
    display: -o-box;
    -o-box-orient: horizontal;
    -o-box-pack: center;
    -o-box-align: center;
    display: -ms-box;
    -ms-box-orient: horizontal;
    -ms-box-pack: center;
    -ms-box-align: center;
    display: box;
    box-orient: horizontal;
    box-pack: center;
    box-align: center;
}

#loading .layer-content {
    text-align: center;
}

#loading .layer-content span {
    margin: 0 auto;
    width: 70px;
    vertical-align: middle;
    white-space: nowrap;
    max-width: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    margin-left: -90px;
    text-align: center;
    color: #0590B3
}

#loading .layer-content img {
    margin: 0 auto;
    vertical-align: middle;
    max-height: 100px;
}

ul.pagination_margin {
    margin-top: 0;
    margin-bottom: 10px
}

li.active a.current_page,li.active a.current_page:hover {
    border-left: 1px solid #fff
}

.pagination li a {
    outline: none;
    font-size: 12px;
}

.pagination>li:first-child>a,table.tableJS,table.tableJS thead:first-child tr:first-child th:first-child,table.tableJS tbody:last-child tr:last-child td:last-child,table.tableJS tbody:last-child tr:last-child td:first-child
{
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 12px;
}
table.tableJS tr td img {
    max-height: 24px;
    max-width: 300px;
}
table.tableJS thead{
    background: #eee;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#ededed));
    background: -moz-linear-gradient(top, #fff, #ededed);
    color:#444;
}

.pagination ul>li>a {
    height: 38px;
}

img.imgTooltip {
    position: absolute;
    z-index: 5;
    max-height: 150px;
    box-shadow: 1px 1px 3px #444;
    max-width: 300px;
}

.checkbox-th {
    width: 15px;
}