#{extends 'main.html' /}
#{set title:'登录' /}
<link href="/public/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link href="/public/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css"/>
<link href="/public/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
<link href="/public/css/style-metro.css" rel="stylesheet" type="text/css"/>
<link href="/public/css/style.css" rel="stylesheet" type="text/css"/>
<link href="/public/css/style-responsive.css" rel="stylesheet" type="text/css"/>
<link href="/public/css/default.css" rel="stylesheet" type="text/css" id="style_color"/>
<link href="/public/css/uniform.default.css" rel="stylesheet" type="text/css"/>
<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN PAGE LEVEL STYLES -->
<link href="/public/css/login.css" rel="stylesheet" type="text/css"/>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="login">
<!-- BEGIN LOGO -->
<div class="logo" style="width: auto">
    <span class="kei">Kei</span>
    <span class="sei">Sei</span>
    <span class="jp">青岛胶平食品有限公司内控系统</span>
</div>
<!-- END LOGO -->
<!-- BEGIN LOGIN -->
<div class="content">
    <!-- BEGIN LOGIN FORM -->
    <form class="form-vertical login-form" action="/manager/signIn">
        <h3 class="form-title">管理员登录</h3>
        <div class="alert alert-error ${msg!=null?'':'hide'}">
            <button class="close" data-dismiss="alert"></button>
            <span>${msg!=null?msg:''}</span>
        </div>
        <div class="control-group">
            <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
            <label class="control-label visible-ie8 visible-ie9">账号</label>
            <div class="controls">
                <div class="input-icon left">
                    <i class="icon-user"></i>
                    <input class="m-wrap placeholder-no-fix" value="${account}" type="text" placeholder="登录账号" name="username"/>
                </div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label visible-ie8 visible-ie9">密码</label>
            <div class="controls">
                <div class="input-icon left">
                    <i class="icon-lock"></i>
                    <input class="m-wrap placeholder-no-fix" type="password" value="${pwd}" placeholder="登录密码" name="password"/>
                </div>
            </div>
        </div>
        <div class="form-actions" style="padding-bottom: 5px">
            <label class="checkbox remember">
                <i class="icon-check${pwd==null?'-empty':''}" style="font-size: 18px;vertical-align: middle;color: #0ba11b"></i> <span style="margin-left: 5px">记住密码？</span>
                <input type="checkbox" name="rememberme" ${pwd!=null?'checked':''} value="1" style="display: none"/></label>
            <button type="submit" class="btn green pull-right"> 登录 <i class="m-icon-swapright m-icon-white"></i></button>
        </div>
        <div class="forget-password">
            <h4>忘记密码？</h4>
                    请联系管理员，重设密码     </p>
        </div>
    </form>
    <!-- END LOGIN FORM -->
</div>
<!-- BEGIN COPYRIGHT -->
<div class="copyright" style="font-size: 12px"> 2014 &copy; 京成 | Keisei <div>
<!-- END COPYRIGHT -->
<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- BEGIN CORE PLUGINS -->
<script src="/public/js/jquery-1.10.1.min.js" type="text/javascript"></script>
<script src="/public/js/bootstrap.min.js" type="text/javascript"></script>
<!--[if lt IE 9]>
<script src="/public/js/excanvas.min.js"></script>
<script src="/public/js/respond.min.js"></script>
<![endif]-->
<script src="/public/js/login.js" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->
<script>
    jQuery(document).ready(function() {
        $("label.remember").click(function(){
            var check=$(this).find("input[type=checkbox]");
            var i=$(this).find("i");
            if(check.prop("checked")){
                check.prop("checked",false);
                i.removeClass("icon-check").addClass("icon-check-empty");
            } else{
                check.prop("checked",true);
                i.removeClass("icon-check-empty").addClass("icon-check");
            }
        });
        Login.init();
    });
</script>
</body>